@import url('https://fonts.googleapis.com/css?family=Raleway:400,500');

body {
  background-color: #472e32;
  font-family: 'Raleway', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#quote-box {
  background-color: #fff;
  display: table;
  position: relative;
  border-radius: 3px;
  width: 450px;
  padding: 40px 50px;
}

.quote-text {
  text-align: center;
  width: 450px;
  height: auto;
  clear: both;
  font-weight: 500;
  font-size: 1.75em;
}

.quote-author {
  width: 450px;
  height: auto;
  clear: both;
  padding-top: 20px;
  font-size: 1em;
  text-align: right;
}

.button {
  background-color: #472e32;
  height: 38px;
  border: none;
  border-radius: 3px;
  color: #fff;
  outline: none;
  font-size: 0.85em;
  padding: 8px 18px 6px 18px;
  margin-top: 30px;
  opacity: 1;
  cursor: pointer;
}

.button:hover {
  opacity: 0.9;
}

#new-quote {
  float: right;
}